{% extends "base.html" %}
{% block content %}
<html>
    <title>About Us</title>
    <body>
        <h1><b>Meet the ZotVerse team!</b></h1>
        <div class="wrapper">
            <div class="auction-card">
                <div><img class="auction_image_index" src="/static/Anish.png"></div>
                <div class="auction-card-title">Anish Pandita</div>
                <p>panditaa@uci.edu</p>
                <p>Full-stack developer</p>
                <a href="https://www.linkedin.com/in/anish-pandita/">
                    LinkedIn
                </a>
            </div>
            <div class="auction-card">
                <div><img class="auction_image_index" src="/static/Mayank.png"></div>
                <div class="auction-card-title">Mayank Chandak</div>
                <p>mchandak@uci.edu</p>
                <p>Back-end developer</p>
                <a href="https://www.linkedin.com/in/mayank-chandak/">
                    LinkedIn
                </a>
            </div>
            <div class="auction-card">
                <div><img class="auction_image_index" src="/static/GK.jpg"></div>
                <div class="auction-card-title">Gurkanwal Singh Kang</div>
                <p>gurkanwk@uci.edu</p>
                <p>Back-end developer</p>
                <a href="https://www.linkedin.com/in/gurkanwalsinghkang/">
                    LinkedIn
                </a>
            </div>
            <div class="auction-card">
                <div><img class="auction_image_index" src="/static/Neelendu.png"></div>
                <div class="auction-card-title">Neelendu Wadhwa</div>
                <p>neelendw@uci.edu</p>
                <p>Full-stack developer</p>
                <a href="https://www.linkedin.com/in/neelendu/">
                    LinkedIn
                </a>
            </div>
        </div>
    </body>
</html>
{% endblock %}